@import "../../scss/common";

.pb-block {
  @include container($space-l, $space-l);
  background-color: $c-white;
}

.pb-block--no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.pb-block--no-vertical-padding {
  padding-bottom: 0;
  padding-top: 0;
}

.pb-block--bg-transparent {
  background-color: transparent;
}
