@import "../../scss/common";

$block: "pb-book-card-outline";

.#{$block} {
  padding-bottom: 161.8%; // Aspect ratio is 1:1.618
  position: relative;
}

.#{$block}__wrapper {
  align-items: center;
  border: $border-width-m $border-style-dashed;
  border-radius: $border-radius;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: $space-l;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.#{$block}--theme-light {
  .#{$block}__wrapper {
    color: $c-white;

    &:hover,
    &:active,
    &:focus {
      color: $c-white;
      text-decoration: underline;
    }
  }
}
