@import "../../scss/common";

$block: "pb-book-card";

.#{$block} {
  position: relative;
}

.#{$block}__container {
  border-radius: $border-radius;
  box-shadow: $box-shadow-l1;
  color: $c-grey;
  overflow: hidden;
  text-align: left;

  &:hover {
    .#{$block}__menu {
    
      @include bp(large) {
        display: flex;
      }
    }
  }
}

.#{$block}__wrapper {
  background-color: $c-grey-lighter;
  padding-top: 161.8%; // Aspect ratio is 1:1.618
  position: relative;
}

.#{$block}__image-wrapper {
  overflow: hidden;
  padding-top: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$block}__meta-wrapper {
  background-color: $c-white;
  bottom: 0;
  left: 0;
  margin: 0;
  min-height: 100% - (100% / 1.618);
  position: absolute;
  right: 0;
}

.#{$block}__meta {
  margin: 0;
  padding: $space-s;
}

.#{$block}__image-overlay,
.#{$block}__image {
  display: block;
  height: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$block}__image-overlay {
  background-image: $gradient-dark-to-lighter-transparent;
}

.#{$block}__contest-icon {
  color: $c-accent;
  left: $space-m;
  margin-top: 0;
  position: absolute;
  top: $space-m;
}

.#{$block}__level-strip {
  color: $c-white;
  display: block;
  font-size: modular-scale(-1);
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-caps;
  padding: $space-xs $space-s;
  text-decoration: none;
  text-transform: uppercase;
}

.#{$block}__language + .#{$block}__level {
  &::before {
    content: " - ";
  }
}

.#{$block}__link {
  height: 100%;
  left: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include bp(large) {
    z-index: $z-index-reset;
  }
}

.#{$block}__title {
  display: block;
  font-size: modular-scale(-1);
  font-weight: $font-weight-bold;

  &--bhoti {
    line-height: $line-height-heading-bothi;
  }
}

.#{$block}__names {
  display: block;
  font-size: modular-scale(-1);
  font-weight: $font-weight;

  & + & {
    margin-top: $space-s;
  }
}

.#{$block}__recommendation-icon {
  vertical-align: sub;
}

.#{$block}__recommendation {
  color: $c-accent;
  font-size: modular-scale(-2);
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-caps;
  line-height: $space-l;
  text-decoration: none;
  text-transform: uppercase;
}

.#{$block}__read-stat {
  margin-left: auto;
}


.#{$block}__footer {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin-top: 0;
  padding: $space-s;
  position: absolute;
  width: 100%;
}

.#{$block}--has-footer {
  .#{$block}__meta {
    padding-bottom: $space-xl - $space-s;
  }
}

.#{$block}__dropdown {
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.#{$block}__dropdown-link {
  display: block;
  padding: 0;
}

.#{$block}__menu {

  @include bp(large) {
    align-items: center;
    background-color: $c-overlay;
    bottom: 0;
    display: none;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
}

.#{$block}__hover-controls {
  color: $c-white;
  text-align: center;
}

.#{$block}__quick-menu-wrapper {
  z-index: $z-index-dropdown;
}

.#{$block}__quick-menu {

  &--hide {
    display: none;
  }

  background-color: $c-white;
  border-radius: $border-radius-circular;
  padding: 0 $space-xl 0 $space-l;
  position: relative;
  z-index: $z-index-dropdown;
}

.#{$block}__quick-menu-btn {
  background-color: $c-white;
  border: 0;
  border-bottom-right-radius: 0;
  border-right: $border-width $border-style $c-border;
  border-top-right-radius: 0;
  font-size: modular-scale(-1);
  text-transform: uppercase;

  &:hover {
    background-color: $c-white;
  }

  &:active {
    background-color: $c-white;
    box-shadow: inherit;
  }
}

.#{$block}__dropdown {
  right: $space-s;
  top: $space-s;
}

.#{$block}__icon {
  
  @include bp(large) {
    color: $c-text-light;
  }
}

.#{$block}__menu--hide-menu .#{$block}__quick-menu {
  padding: 0 $space-xl; 
}

.#{$block}__menu--hide-menu .#{$block}__quick-menu-btn {
  border-radius: $border-radius-circular;
  border-right: 0;
  width: 100%;
}

.#{$block}__menu--hide-menu .#{$block}__dropdown {

  @include bp(large) {
    display: none;
  }
}

.#{$block}--level-1 {
  .#{$block}__level-strip {
    background-color: $c-level-1;
  }
}

.#{$block}--level-2 {
  .#{$block}__level-strip {
    background-color: $c-level-2;
  }
}

.#{$block}--level-3 {
  .#{$block}__level-strip {
    background-color: $c-level-3;
  }
}

.#{$block}--level-4 {
  .#{$block}__level-strip {
    background-color: $c-level-4;
  }
}


.#{$block}--font-size-l {
  font-size: strip-unit(modular-scale(1)) * 1rem;

  .#{$block}__recommendation-icon {
    vertical-align: $vertical-align-icon;
  }
}

.#{$block}--disabled {
  opacity: $opacity-disabled;

  .#{$block}__link {
    cursor: not-allowed;
  }
}

.#{$block}__overlay {
  &--faded {
    background-color: $c-overlay-lighter;
  }

  background-color: $c-overlay;
  border-radius: $border-radius;
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;
}

.#{$block}--loading {
  .#{$block}__link {
    cursor: wait;
  }
}
