@import "../../scss/common";

$block: "pb-overlay";

.#{$block} {
  backdrop-filter: blur($blur);
  background-color: $c-overlay;
  bottom: 0;
  left: 0;
  margin-top: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-overlay;
}

.#{$block}--light {
  background-color: $c-overlay-light;
}
