@import "../../scss/common";

$block: "pb-link";

.#{$block} {
  color: $c-link;
  font-weight: $font-weight-bold;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $c-link-hover;
  }
}

.#{$block}__legend {
  color: $c-text;
  font-size: modular-scale(-1);
  font-weight: $font-weight;
  margin-left: $space-m;
  margin-top: 0;
  white-space: normal;
}

.#{$block}--full-width {
  display: block;
  padding: $space-m;

  .#{$block}__legend {
    display: block;
    margin-left: 0;
    margin-top: $space-s;
    min-width: $size-m;
  }
}

.#{$block}--light {
  color: $c-white;

  &:hover,
  &:active,
  &:focus {
    color: $c-white;
    text-decoration: underline;
  }
}

.#{$block}--danger {
  color: $c-danger;

  &:hover,
  &:active,
  &:focus {
    color: $c-danger;
  }
}

.#{$block}--success {
  color: $c-success;

  &:hover,
  &:active,
  &:focus {
    color: $c-success;
  }
}

.#{$block}--warning {
  color: $c-warning;

  &:hover,
  &:active,
  &:focus {
    color: $c-warning;
  }
}

.#{$block}--info {
  color: $c-info;

  &:hover,
  &:active,
  &:focus {
    color: $c-info;
  }
}

.#{$block}--dark {
  color: $c-text;

  &:hover,
  &:active,
  &:focus {
    color: $c-text;
  }
}


.#{$block}--disabled {
  color: $c-text;
  pointer-events:none;

  &.#{$block}--light {
    color: $c-white;
    opacity: $opacity-disabled;
  }

  &.#{$block}--dark {
    opacity: $opacity-disabled-dark;
  }
}

.#{$block}--normal {
  font-weight: $font-weight;
}