@import "../../scss/common";

$block: "pb-center-mode-carousal";

// .#{$block} {
//   &__element {}
// }

// .#{$block}--modifier {}

.#{$block} {

  padding: $space-m $space-m;

  @include bp(medium) {
    padding: 0 $space-l * 3;
  }

  >* + * {
    margin-top: 0;
  }

  &__title {
    font-size: modular-scale(1);
    font-weight: $font-weight-bold;
    text-align: center;
  }

  &__card {
    padding: percentage(5/100);
    pointer-events: none;

    @include bp(medium) {
      box-shadow: 0 ($size-xxxs/2) $size-xxxs (-$size-xxxs/2) $c-grey;
      padding: 0;
    }
  }

  &__card-desc {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__card-title {
    font-size: modular-scale(1);
    font-weight: $font-weight-bold;
  }

  &__card-summary {
    height: $size-xs;
    margin: $space-m 0;
    overflow-y: auto;
  }

  &__cta-wrapper {
    line-height: $size-xxs;
    margin-top: $space-m;
    width: 100%;
  
    @include bp(medium) {
      max-width: $size-xl;
    }
  }

  // not taking arrow button colors
  .slick-next:before, .slick-prev:before {
    display: none; 
  }

  .slick-next {
    right: -40px !important;
  }

  .slick-prev {
    left: -40px !important;
  }

  @include bp(medium) {
    .slick-slide {
      position: relative;
    }

    .slick-current.slick-active.slick-center {
      z-index: 10;
    }

    .slick-list {
      padding: $space-l * 3 50px !important;
    }

    .slick-current.slick-active {
      transform: scale(1.3);
      transition: 0.5s transform;
    }

    .slick-active {
      transform: scale(1.15);
      transition: 0.5s transform;
      z-index: 5;
    }
  }

  @include bp(xxlarge) {
    .slick-list {
      padding: $space-l * 5 50px !important;
    }
  }
}


